extends layout

block content
  link(rel='stylesheet' href='/stylesheets/bulma.css' type='text/css')
  section.hero.is-primary
    .hero-head
      header.nav
        .container
          .nav-left
            h1.title(style='padding-top:5px'): a(href='/blogs') #{title}
          .nav-right.nav-menu
            a.nav-item(href='/demos') demos
            a.nav-item(href='/edit') new post
            a.nav-item(href='/logout') logout #{user.username}
    .hero-body
      .container
        each entry in entries
          .box.has-text-dark(style='opacity:0.85;')
            h2.title(style='color: #505050'): a(href='/blog?id=' + entry.id) #{entry.title}
            h3.subtitle(style='color: #505050'): a(href='/user?username=' + entry.author, style='color: #505050') by #{entry.author}
            if (user.admin || user.username == entry.author)
              a.is-pulled-right.delete(href='/delete?id=' + entry.id style='margin-top:-92px;margin-right:-5px;' onclick='return confirm(\'Are you sure you want to delete this post?\')')
            .content(style='max-height:180px;overflow:auto;')
              p #{entry.content}
    footer.footer(style='background-color:#cedbd8;')
      .container
        .has-text-centered
          p <strong>Bloggit</strong>
          p(style='font-size:.65em') In order to use Bloggit, you must register with a username and password. Bloggit uses cookies to help improve your user experience. Cookies allow us to keep you logged in while you use the site. Bloggit is the only entity with acces to you personal inforation supplied here. Bloggit will protect your information and only use it to interact with you.
          
